
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.bg-dark-custom {
  background-color: #0D0D0D !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #1C1C1C !important; 
}

.navbar-dark .navbar-brand {
  color: #FFFFFF !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.fa-icon {
  font-size: 18px; 
  margin-right: 8px;
  line-height: 1;
}

.navbar-nav .nav-link {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  display: flex;  /* Asegura que los íconos y los textos estén alineados */
  align-items: center; /* Centra los iconos verticalmente */
}
.navbar-nav .nav-item:first-child .fa-home {
  margin-bottom: 0; /* Elimina cualquier espacio extra debajo del icono */
}